/* Components */
button {background-color: var(--yellow);
    color: var(theme);
    font-size: 18px;
    border-color: transparent;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

a {
text-decoration: none;
}

button:hover {
transform: scale(1.1);
}

button:active {
transform: scale(1);
}

button a {
text-decoration: none;
}

button a:active {
color: var(--theme);
}

#billsPayment {
width: 95%;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 10px;
font-size: 18px;
color: var(--theme);
}

.nav_items {
display: flex;
flex-direction: row;
align-items: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

nav li {
margin: 0 10px;
}

nav a {
color: var(--theme);
text-decoration: none;
font-size: 18px;
font-weight: bold;
padding: 10px;
}

nav a
{
    color: var(--theme);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

#bell-icon {
    /* padding-top: 10px; */
    height: 30px;
    width: 30px;
}

#bell-icon:hover {
    transform: scale(1.2);
}

#bell-icon:active {
    transform: scale(1);
}

nav a:active {
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    color: val(--theme);
}

main {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* max-width: 400px; */
    width: 80%;
}

.login-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--theme);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: var(--theme);
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"],
form input[type="tel"],
select,
textarea,
.ab {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 80px;
    min-width: 100%;
    min-height: 50px;
    max-width: 100%;
    max-height: 150px;
}

textarea {
    height: 80px;
}

form {
    width: 95%;
    margin: 10px 50px 50px 10px;
    border-radius: 5px;
    padding: 10px;
}

.change {
    border: 1px solid #ccc;
}

.forms {
    display: flex;
}

form h3 {
    text-align: center;
}

form button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--theme);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
}

.forgot-password a {
    color: var(--theme);
    text-decoration: none;
}

hr {
    border: 2px solid var(--yellow);
    margin-bottom: 40px;
    margin-top: 40px;
    width: 80%;
}

.transaction {
    display: flex;
    padding: 5px 20px;
    justify-content: space-around;
}

.incoming {
    color: #139213;
}

.outgoing {
    color: #951616;
}

.buttons {
    display: flex;
}

button[type="submit"] .cancel {
    background-color: var(--danger);
}

.active {
    color: #fff;
}

button {
    margin-top: 10px;
}

input {
    margin-right: 10px;
    display: inline;
}

.autofill-input {
    width: 70%;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    width: 100%;
    /* margin: auto; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
}


form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"],
form input[type="tel"],
form input[type="month"],
form input[type="date"],
select,
textarea {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.two-sections {
    display: flex;

    justify-content: space-around;
}

.use-button {
    width: 20%;
    text-align: center;
    height: auto;
    padding: 5px;
}

.clear-button {
    padding: 8px;
    background-color: #ccc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 40px;
}

.explanation {
    padding: 0 10px;
    font-style:italic;
    font-size: large;
}

.redeem {
    text-decoration: underline;
    cursor: pointer;
    color: var(--orange)
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.card-controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h2 {
    color: var(--theme);
    margin-top: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#options {
    margin-bottom: 20px;
}

#options label {
    color: #555;
}

#card-details,
#apply-new {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

#card-details h3,
#apply-new h3 {
    margin: 0;
}

#card-details {
    width: 80%;
    margin: 30px auto 0;
}

#card-form {
margin: auto;}

#card-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* #card-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
} */

#card-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#card-form button[type="submit"]:hover {
    background-color: #FF6347;
}

.hidden {
    display: none;
}

label {
    margin-top: 10px;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#toast #img {
    width: 50px;
    height: 50px;

    float: left;

    padding-top: 16px;
    padding-bottom: 16px;

    box-sizing: border-box;


    background-color: #111;
    color: #fff;
}

#toast #desc {


    color: #fff;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}



@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

#apply-new {
    position: relative;
    margin-bottom: 50px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #dde3e3;
    justify-content: center;
    width: 50%;
    margin: 30px auto 0;
}

.clear-button:hover {
    padding: 8px;
    background-color: rgb(197, 17, 17);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}






.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    min-width: 30%;
    max-width: 50%;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  label {
    display: block;
    margin: 10px 0;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + span {
    font-weight: bold;
  }
  
  input[type="checkbox"] + span {
    cursor: pointer;
  }

  #closeAcc {
    width: 50%;
    margin: 20px auto 0;
    background-color: var(--danger);
    color: white;
  }

  .hidden {
    display:none;
  }

  #submit-btn {
    margin: 10px auto;
  }

  
#cancelBtn {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20% 0 0;
  }
  
  #cancelBtn:hover {
    background-color: #999;
    color: #fff;
  }
  
  #confirmBtn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20% 0 0;

  }
  
  #confirmBtn:hover {
    background-color: #d32f2f;
  }