/* General Page Structure */
* {
    --theme: #023047;
    --dark-blue: #219ebc;
    --light-blue: #8ecae6;
    --yellow: #ffb703;
    --orange: #fb8500;
    --danger: #7a0012;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 125px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 30px;
    background-color: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

footer {
    background-color: var(--theme);
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 50px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

footer a {
    color: #fff;
}

.cp-text {
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

